<h1>Atividades</h1>

<table class="table table-striped">
<thead>
	<tr>
		<th style="width: 4%"></th>
		<th>Ordem</th>
		<th>Nome</th>
		<th>Descrição</th>
		<th style="text-align: center;">Período</th>
	</tr>
</thead>
<tbody>
	<% @activities.each_with_index do |activity, i| %>
		<tr id="activity_row_<%= activity.priority %>">
			<td>
				<%= link_to(activity_increase_priority_path(activity), remote: true, method: 'patch') do %>
				    <span class="glyphicon glyphicon-chevron-up" style="cursor: pointer;" title="Aumentar prioridade"/>
				<% end %>

				<%= link_to(activity_decrease_priority_path(activity), remote: true, method: 'patch') do %>
				    <span class="glyphicon glyphicon-chevron-down" style="cursor: pointer;" title="Diminuir prioridade" />
				<% end %>

			</td>
			<td style="width: 5%; text-align: center;"><%= i + 1 %></td>
			<td style="width: 20%;"><%= link_to activity.name, activity_path(activity.id) %></td>
			<td style="width: 55%;"><%= raw activity.description %></td>
			<td style="text-align: center;"><%= activity.period %></td>
		</tr>
	<% end %>
</tbody>
<tfoot>
	<tr>
		<td colspan="5">
			<%= link_to 'Voltar', root_path, class: "btn btn-primary" %>
		</td>
	</tr>
</tfoot>
</table>

<script type="text/javascript">
	$(document).ready(function() {
	  $(function(){
	    $.getJSON('/activity_increase_priority/increase_priority.json', function(data1) {
	      alert("inside getJson"); alert(data1); console.log(data1);
	    });
	});
	});
</script>
